@import '@/assets/styles/variables.scss';


nav, footer {
  padding: 0.5rem 3rem;
  background-color: $primary;
  color: $light;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  @media (max-width: 640px) {
    padding: 0.5rem 1.5rem;
  }
}

.navbar_nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  > .nav_items {
    margin-right: 3rem;
    @media (max-width: 640px) {
      margin-right: 1rem;
    }
  }
}

.main {
  padding-top: 65.99px;
  min-height: calc(100vh - 97.48px);
}